<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MowerRainSteering.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="MowerRainStearing.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
	<system.net>
		<defaultProxy useDefaultCredentials="true" />
	</system.net>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <MowerRainSteering.Properties.Settings>
            <setting name="debug" serializeAs="String">
                <value>true</value>
            </setting>
            <setting name="intervalToCheckRainSensor" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="emailForStatusMessages" serializeAs="String">
                <value>martin@die-sickels.de</value>
            </setting>
            <setting name="emailForErrorMessages" serializeAs="String">
                <value>martin@die-sickels.de</value>
            </setting>
            <setting name="startTimeForChecking" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="endTimeForChecking" serializeAs="String">
                <value>23</value>
            </setting>
            <setting name="netatmoClientId" serializeAs="String">
                <value>Olc9fYEGvzHHWUCJdo0LaBf8bj8ktuVo3DSVV56XHg4=</value>
            </setting>
            <setting name="netatmoClientSecret" serializeAs="String">
                <value>fh7bwq5npAe0NPMdsq6MSnzk7DZhHL1PZjX+nk0/sFJ52XdVuyAtMxE0G/MCK6rv</value>
            </setting>
            <setting name="netatmoLogin" serializeAs="String">
                <value>netatmoUsernem</value>
            </setting>
            <setting name="netatmoPassword" serializeAs="String">
                <value>netatmoPassword</value>
            </setting>
            <setting name="gardenaLogin" serializeAs="String">
                <value>gardenaUsername</value>
            </setting>
            <setting name="gardenaPassword" serializeAs="String">
                <value>gardenaPassword</value>
            </setting>
            <setting name="emailFromEmail" serializeAs="String">
                <value>email who sends email</value>
            </setting>
            <setting name="emailAccountUser" serializeAs="String">
                <value>username for your email account</value>
            </setting>
            <setting name="emailAccountUserPassword" serializeAs="String">
                <value>password for the email user account</value>
            </setting>
            <setting name="emailSMTP" serializeAs="String">
                <value>smtp.gmail.com</value>
            </setting>
            <setting name="emailSMTPPort" serializeAs="String">
                <value>587</value>
            </setting>
            <setting name="emailSSL" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="rain" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="sendEmailsStatus" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="sendEmailError" serializeAs="String">
                <value>True</value>
            </setting>
        </MowerRainSteering.Properties.Settings>
        <MowerRainStearing.Properties.Settings>
            <setting name="debug" serializeAs="String">
                <value>true</value>
            </setting>
            <setting name="intervalToCheckRainSensor" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="emailForStatusMessages" serializeAs="String">
                <value>martin@die-sickels.de</value>
            </setting>
            <setting name="emailForErrorMessages" serializeAs="String">
                <value>martin@die-sickels.de</value>
            </setting>
            <setting name="startTimeForChecking" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="endTimeForChecking" serializeAs="String">
                <value>23</value>
            </setting>
            <setting name="netatmoClientId" serializeAs="String">
                <value>Olc9fYEGvzHHWUCJdo0LaBf8bj8ktuVo3DSVV56XHg4=</value>
            </setting>
            <setting name="netatmoClientSecret" serializeAs="String">
                <value>fh7bwq5npAe0NPMdsq6MSnzk7DZhHL1PZjX+nk0/sFJ52XdVuyAtMxE0G/MCK6rv</value>
            </setting>
            <setting name="netatmoLogin" serializeAs="String">
                <value>martin@die-sickels.de</value>
            </setting>
            <setting name="netatmoPassword" serializeAs="String">
                <value>XoNx7kXpAZHxqt+6edcs4Q==</value>
            </setting>
            <setting name="gardenaLogin" serializeAs="String">
                <value>martin@die-sickels.de</value>
            </setting>
            <setting name="gardenaPassword" serializeAs="String">
                <value>XoNx7kXpAZHxqt+6edcs4Q==</value>
            </setting>
            <setting name="emailFromEmail" serializeAs="String">
                <value>martin@die-sickels.de</value>
            </setting>
            <setting name="emailAccountUser" serializeAs="String">
                <value>martin@die-sickels.de</value>
            </setting>
            <setting name="emailAccountUserPassword" serializeAs="String">
                <value>BM26ZbVtntFGYzOfmLfRJg==</value>
            </setting>
            <setting name="emailSMTP" serializeAs="String">
                <value>smtp.gmail.com</value>
            </setting>
            <setting name="emailSMTPPort" serializeAs="String">
                <value>587</value>
            </setting>
            <setting name="emailSSL" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="rain" serializeAs="String">
                <value>0.4</value>
            </setting>
            <setting name="sendEmailsStatus" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="sendEmailError" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="processUser" serializeAs="String">
                <value>Martin</value>
            </setting>
            <setting name="processMachine" serializeAs="String">
                <value>mediaserver</value>
            </setting>
            <setting name="processTask" serializeAs="String">
                <value>MowerRainSteering</value>
            </setting>
        </MowerRainStearing.Properties.Settings>
    </userSettings>
</configuration>